.cart-content{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: table;
	position: relative;	
}

img{
	display: block;
	width: auto;
	margin: auto;
	vertical-align:middle;
}

.cart-items{
	width: 1080px;
	float:left;
	position:relative;
	z-index:1;
	
	font-family: 'ambleregular';
}

.item-detail{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #CECECE;	
	position:relative;	
}
.item-detail div p{
	margin-top: 45px;
	text-align: center;
	
}
.item-detail div{
	text-align: center;
	display: block;
}

.cart-header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #CECECE;	
}
.cart-header p{
	margin-top: 65px;
	font-weight: bold;
	color:#189eff;
}
.cart-header div{
	text-align: center;
	display: block;	
}
.cart-header div p{
	text-align: center;
}

.item-image{
	float:left;
	width: 15%;
	height: 100%;	
}
.item-name{
	float:left;
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
}
.item-price{
	float:left;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}

.item-quantity{
	float:left;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
}
.item-total-price{
	float:left;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}

.item-delete{
	float:left;
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;	
}
.item-delete button{
	margin-top: 35px;
	height: 35px;
	padding-top: 11px;
}

.checkout-cart{
	width: 370px;
	border-bottom: 1px solid #CECECE;
	height: 100px;
	float:left;
	position:relative;
	z-index:1;
	color: red;
	font-weight: bold;
	font-size: 18pt;
}

.item-conclusion{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #CECECE;	
	position:relative;	
}
.item-conclusion div p{
	margin-top: 45px;
	text-align: center;
	
}
.item-conclusion div{
	text-align: left;
	display: block;
}

.item-conclusion button{
	margin-top: 35px;
	height: 35px;
	padding-top: 11px;
}
.item-conclusion div{
	color: red;
	font-weight: bold;
	font-size: 18pt;
}
.item-conclusion  div.item-quantity{
	width: 10%;
}
.item-conclusion  div.item-total-price{	
	width: 25%;
}
.item-conclusion  div.item-total-price p{	
	margin-top: 40px;
}
.item-conclusion div.item-delete button{
	background: red;
}
.item-conclusion div.item-image button{
	background: green;
}
button{ font-family: 'ambleregular';}
