.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {text-decoration: underline}

.account_desc ul li ul{
    padding:16px;
    display: none;
}

.account_desc ul li:hover ul{
    display: block;
}

#user{
	font-size: 11pt;
	color: #189eff;
}
.radi{
    margin-left: 40px;
}
select{
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 0px;
    width: 100px;
	
}
.policy{
	padding-left: 20px;
}
td:first-child{
	width: 30%;
	padding-left: 20px;
}

.myTd{
    padding: 20px;
}

.myTdImg{
    padding: 20px;
    margin-top: 550px;
}

fieldset select:first-child{
	margin-right: 25px;
}
fieldset select:last-child{
	margin-left: 25px;
}
table tr td{
	margin-bottom: 10px;
	height: 40px;
}
table{
	width: 100%;
}
td input{
	width: 200px;
	height: 40px;
}

.re{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
    height: 40px;
    vertical-align: middle;
    background-color: white;
    font-size: 12px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.lb{
   font-size: 15px;
    width: 100%;
    float: left;
    margin-left: 30px;
}
.myImage{
    width: 30%;
    float: left;
}
.login{
    float: left;
    width: 100%;
    font-size: 25px;
    width: 70%;
    font-size: 35px;
    
}

.register{
    width: 100%;
    float: left;
    font-size: 30px;
}

.myHeader{
    width: 100%;
}

.inputTextPass{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #189eff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#divLogin{
	width: 300px;
	width: 200px;
	margin: 0px auto 0px auto;
}
#divLogin button{
    border: 2px solid;
    border-color: #fff;
    font-weight: bold;
    font-size: 12pt;
	width: 150px;

	
}

#divLogin button:hover{
    background-color:#fff;
    color:#189eff;
    border-color: #189eff;
    border: 2px solid;
}

button :hover{
    background-color:#fff;
    color:#189eff;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.div-login{
	width: 600px;
	width: 400px;
	height: 330px;
	float:left;
	display:block;
}

.div-register{
	padding-left: 75px;
	width:600px;
	height:550px;
	float:left;
	display:block;
}

.parent-login-register{
	width: 100%;
	height:600px;
	position: relative;
	z-index: 1;
}
.container {
    padding: 16px;
	padding-top: 10px;
	position:relative;
}

.container input : hover{
    border: 2px solid;
    border-color: #189eff;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modalRe {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

.modalRe-content {
    background-color: #fefefe;
    margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */
.close {
    color: #000;
    font-size: 35px;
    font-weight: bold;
	position: absolute; 
	right: 20px; top: 0px;
}

.info{
    background-color: white;
    font-size: 12pt;
    color: #198eff;
    margin-bottom: 10px;
}

.closeRe {

    margin-left: 660px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
	position: absolute; 
	right: 20px; top: 0px;
}

.closeRe:hover,
.closeRe:focus {
    color: red;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.animateClose{
    -webkit-animation: animatezoomm 0.6s;
    animation: animatezoomm 0.6s
}
@-webkit-keyframes animatezoomm {
    from {-webkit-transform: scale(1)} 
    to {-webkit-transform: scale(0)}
}

@keyframes animatezoomm {
    from {transform: scale(1)} 
    to {transform: scale(0)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}