<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        $("#province").change(function () {
            var id = $(this).val();
            if (id == '') {
                $("#district").empty();
                var v = "<option>---Select District---</option>";
                $("#district").html(v);
            }
            var url = "/Province/District_Bind";
            $.get(url, { provinceId: id }, function (data) {
                var v = "<option>---Select District---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#district").html(v);
            });
        });

        $("#district").change(function () {
            var id = $(this).val();
            if (id == '---Select District---') {
                $("#town").empty();
                var v = "<option>---Select Town---</option>";
                $("#town").html(v);
            }
            var url = "/Province/Town_Bind";
            $.get(url, { districtId: id }, function (data) {
                var v = "<option>---Select Town---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#town").html(v);
            });
        });
    });

    function checkIndex() {
        var slPro = document.getElementById("province");
        var slDis = document.getElementById("district");
        var slTown = document.getElementById("town");

        var optPro = slPro.options[slPro.selectedIndex];
        var optDis = slDis.options[slDis.selectedIndex];
        var optTown = slTown.options[slTown.selectedIndex];


        if (optPro.value != '') {
            slPro.style.borderColor = "#A4A4A4";
        }
        if (optDis.value != "---Select District---") {
            slDis.style.borderColor = "#A4A4A4";
        }
        if (optTown.value != "---Select Town---") {
            slTown.style.borderColor = "#A4A4A4";
        }

        if (optPro.value == '') {
            slPro.style.borderColor = "#FF0000";
            return false;
        } else if (optDis.value == "---Select District---") {
            slDis.style.borderColor = "#FF0000";
            return false;
        } else if (optTown.value == "---Select Town---") {
            slTown.style.borderColor = "#FF0000";
            return false;
        }
        return true;
    }

</script>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Model.Models;
@{
    List<Product_Cart> cartItems = (List<Product_Cart>)Session["CART"];
    User_Account userAccount = (User_Account)Session["USER"];
    if (userAccount != null)
    {
        cartItems = userAccount.Product_Cart.ToList<Product_Cart>();
    }
    float totalPrice = 0;
}
</div>
<style>
    select {
        max-width: 180px;
        min-width: 180px;
        width: 180px !important;
    }
</style>
@using (Html.BeginForm("Checkout", "Cart"))
{
    <div class="parent-login-register">
        <div class="content div-address">
            <div class="container">
                <div class="myImage">
                    <p class="login">Your&nbsp;&nbsp;shipping&nbsp;&nbsp;address</p>
                </div>
                <br />
                <br />
                <div class="info">
                    <table border="1">
                        <tbody>
                            <tr>
                                <td>
                                    <label><b>Name</b></label>
                                </td>
                                <td>
                                    <input type="text" oninvalid="setCustomValidity('Please input Name!!!')"
                                           onchange="try { setCustomValidity('') } catch (e) { }" placeholder="Enter Name" required class="inputTextPass" name="txtName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Address</b></label>
                                </td>
                                <td>
                                    <input type="text" oninvalid="setCustomValidity('Please input Name!!!')"
                                           onchange="try { setCustomValidity('') } catch (e) { }" placeholder="Enter Address" required class="inputTextPass" name="txtAddress">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Province</b></label>
                                </td>
                                <td>
                                    @Html.DropDownList("province", null, "---Select Province---")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>District</b></label>
                                </td>
                                <td>
                                    <select id="district" name="district">
                                        <option value="0">---Select District---</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Town</b></label>
                                </td>
                                <td>
                                    <select id="town" name="town">
                                        <option value="0">---Select Town---</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>
                                    <input type="text" pattern="\d{10,11}" 
                                           oninvalid="setCustomValidity('Invalid Phone Number!!!')"
                                           onchange="try { setCustomValidity('') } catch (e) { }" placeholder="Enter Phone Number" required class="inputTextPass" name="txtNumber" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />               
                </div>
            </div>
        </div>

        <div class="content div-total">
            <div class="container">
                <div class="myImage">
                    <p class="login">Your&nbsp;&nbsp;Cart</p>
                    <hr />
                </div>
                <br />
                <br />
                <br />
                <div class="info">
                    <table class="table-cart">
                        <tbody>
                            @{
                                foreach (Product_Cart item in cartItems)
                                {                          
                                            totalPrice += (float)(item.Quantity * item.Product.Price);                                 
                                                }

                                                <tr>
                                                    <td style="color:red; font-size:x-large">Total:</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td style="color:red; font-size:x-large">@totalPrice $</td>
                                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="divLogin">
                        <button type="submit" onclick="return checkIndex()" class="btnRe">CHECKOUT</button><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                }